
body,html {
margin: 0;
box-sizing: border-box;
background-color: aliceblue;
letter-spacing: 1px;
}

/* header css starts here */

.header{
display: flex;
justify-content: space-between;
padding: 0 1rem;
place-items: center;
}

.header-logo-box img{
cursor: pointer;
}

.contact-box{
font-size: 30px;
color: purple;
font-weight: 600;
}

@media(max-width:768px){
.header{
flex-direction: column;
margin: 5px 0;
}

.contact-box{
font-size: 20px;
}
}
/* header css stops here */

.nav{
display: flex;
place-items: center;
background-color: #6d1ffa;
padding: 1rem;
}

.navlogo{
margin: auto;
cursor: pointer;
}

.navlinks{
list-style: none;
margin: auto;
display: flex;
place-items: center;
}

.navlinks a{
color: #fff;
padding: 1rem;
text-decoration: none;
}

.navlinks button{
background-color: #b53434;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

.sm-name{
padding: 0 5px;
color: #fff;  }

@media(max-width:968px){
.nav{
flex-direction: column;
padding: 0 1rem;
}
  
.navlinks{
display: flex;
flex-wrap: wrap;
margin-bottom: 1rem;
}
        
.nav img{      
margin: auto;
padding: 1rem 0;
}
        
      

    
.navlinks a{
padding: 10px;
margin: auto;
font-size: 13px;
}
    
}

@media(max-width:500px){
.navlinks button{
margin-left: 30px;
}
}
  /* navbar stops here */
  .hero {
background-image: linear-gradient(to bottom, #0000004d, #0000004d), url("./img/hero.jpg");
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
place-items: center;
color: #fff;
padding: 1rem;
}
  
  
.hero h1 {
font-size: 2rem;
margin-bottom: 2rem;
letter-spacing: 1px;
}

.hero p {
font-size: 1.5rem;
margin-bottom: 3rem;
letter-spacing: 1px;
}



.search-results-container{
background-color: #fff;
z-index: 999;
position : absolute ;
width: 96%;
top: 230px;
}

.search-results-container a{
color: #000;
text-decoration: none;
font-weight: bolder;
text-align: start;
}



.search-results-container p{
font-size: 16px;
padding: 0 1rem;
    letter-spacing: 2px;
}



.heroform{
position: relative;
display: flex;
flex-direction: column;
place-items: center;
width: 30%;
padding: 10rem 0;
}

.heroform img{
  transform: translate(0) !important;
  position: absolute;
  top: 57%;
  right: 0;
}
    
.heroform input{
width:100%;
height:38px;
padding:1rem;
outline:none;
border:none;
font-size: 20px;
direction: ltr;
color: #111;
}

.form-btn{
width: 10rem;
background-color:#2072ed;
color: #fff;
outline: none;
border-width: 0;
cursor: pointer;
transition: 0.5s;
}

.form-btn:hover{
background-color: #2e43d8;
}




@media(max-width:1600px){
.heroform{
width: 50%;
}
}
@media(max-width:1400px){
.heroform{
width: 60%;
}
}
@media(max-width:1200px){
.heroform{
width: 70%;
}
}

@media(max-width:1000px){
.heroform{
width: 100%;
}
}

@media(max-width:768px){
.search-results-container{
width: 93.2%;
}
.heroform img{
  top:55%;
  }

  .hero h1{
    font-size:20px;
    }
}
/* heroform css stops here*/
.plan-box{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
place-items: center;

}

.left-plan{
  display: grid;
background-color: #2e43d8;  
color: #fff;
border-right: solid  3px #fff;
height: 100%;
width: 100%;

}

.left-plan p{
line-height: 40px;
font-weight: 600;
}


.right-plan{
background-color: #2e43d8;  
color: #fff;
height: 100%;
width: 100%;

}


.right-plan p{
line-height: 24px;
font-weight: 600;
}

.right-plan li{
list-style: none;

}

.right-plan a{
color: #fff;
text-decoration: none;
line-height: 24px;
list-style: none;
font-weight: 600;
}

.planflex{
display: flex;
place-items: center;
justify-content: space-between;
border: solid 1px #fff;
padding: 1rem;
}

.tropic-hero{
background-image: url("./img/tropical_hero.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
display: grid;
place-items: center;
height: 700px;
}

/* planbox css stops here */

.contribute-box{
display: flex;
margin: 3rem auto;
justify-content: space-evenly;
padding: 0 1rem;
place-items: center;
}

.contribute-leftbox {
height: auto;
padding: 2rem 0;
}

.contribute-leftbox img {
width: auto;
display: flex;
height: 110px;
margin: auto;
}
.formbox{
letter-spacing: 1px;
margin: 1rem auto;
}
  
.formbox label{
margin-bottom: 1rem;
letter-spacing: 1px;
text-transform: capitalize;
}

.formbox input{
padding: 1rem 0;
margin-bottom: 1rem;
outline: none;
width: 100%;
border-radius: 5px;
border: solid 1px #6d1ffa;
letter-spacing: 1px;
text-indent: 7px;
font-size: 20px;
}
  
  
.formbox textarea{
resize: none;
margin-bottom: 1rem;
border-radius: 5px;
width: 100%;
border: solid 1px #6d1ffa;
text-indent: 7px;
font-size: 18px;
}
  
.formbox button{
background-color: #6d1ffa;
border: none;
border-radius: 10px;
color: #fff;
cursor: pointer;
outline: none;
padding: 20px;
width: 100%;
}
  
  


/* register,login css stops here */

.FranceHero {
  background: linear-gradient(to bottom, #0000004d, #0000004d),url('./img//parispic.jpg');
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  text-align: center;
  color: #fff;
  padding: 1rem;
  height: 600px;
}

.IndonesiaHero{
  background: linear-gradient(to bottom, #0000004d, #0000004d),url('./img//indopic.jpg');
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  text-align: center;
  color: #fff;
  padding: 1rem;
  height: 600px;
}

/* destination heros css stops here */
.property-hero{
background: #9b8923;  
background-size: cover;
background-position: 50%;
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
padding: 1rem;
}
  
.PropertyArticleHero button{
background-color: #17a2f6;
color: #fff;
padding: 10px 20px;
text-decoration: none;
display: inline-block;
border-radius: 5px;
transition: .5s;
border: none;
margin-bottom: 5rem;
font-size: 17px;
cursor: pointer;
}

.ApartmentArticleHero button{
background-color: #17a2f6;
color: #fff;
padding: 10px 20px;
text-decoration: none;
display: inline-block;
border-radius: 5px;
transition: .5s;
border: none;
margin-bottom: 5rem;
font-size: 17px;
cursor: pointer;
}

.ApartmentArticleHero-button{
background-color: #17a2f6;
color: #fff;
padding: 10px 20px;
text-decoration: none;
display: inline-block;
border-radius: 5px;
transition: .5s;
border: none;
margin-bottom: 5rem;
font-size: 17px;
cursor: pointer;
}

.property-grid {
display: grid;
grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
grid-gap: 10px;
place-items: center;
padding: 0 1rem;
margin: 0 auto;
}

.property-grid a{
text-decoration: none;
}
  
.property-card {
min-width: 286px;
height: 100%;
max-width: 395px;
margin: 1rem 0;
border: 0px solid rgb(209, 209, 213);
border-radius: 8px;
overflow: hidden;
box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
transition: transform 0.2s ease-in-out;
&:hover {
transform: scale(1.05);
}
}
  
.property-image {
width: 100%;
height: auto;
object-fit: cover;
}

.property-owner_name{
padding: 0 20px;
font-size: 10px;
color: #000;
}
  
.property-details {
padding: 0 20px;
}
  
.property-price {
color: #333;
font-weight: 600;
font-size: 20px;
line-height: 24px;
margin-bottom: 1rem;
}
  
.property-type {
display: flex;
place-items: center;
color: #555;
}
  
.property-address {
margin-top: 8px;
color: #777;
font-weight: 400;
font-size: 15px;
line-height: 24px;
padding: 0 20px;
}
  
.property-description {
margin-top: 12px;
color: #444;
line-height: 1.625;
font-weight: 400;
}

.commentreg-box {
display: flex;
place-items: center;
}
  
.postform{
margin: 1rem auto;
background-color: #ffffff;
padding: 20px;
color: #000000;
width: 50%;
}

.postform select{
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #088fdd;
box-sizing: border-box;
font-size: 16px;
resize: none;
letter-spacing: 1px;
line-height: 25px;
outline: none;
}

.postform label {
margin-bottom: 1rem;
line-height: 2;
padding: 0 1rem;
width: 100%;
}

.postform input, .postform textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
box-sizing: border-box;
font-size: 16px;
resize: none;
letter-spacing: 1px;
line-height: 25px;
outline: none;
}

.postform input {
border-radius: 5px;
border: 1px solid #088fdd;
}

.postform input[type=checkbox] {
width: 82%;
padding: 0;
}

.navinfo-box {
margin-right: auto;
}

.navinfo, .postform label {
letter-spacing: 1px;
text-transform: capitalize;
}

.navinfo {
font-size: 20px;
padding: 5px;
color: #4a4a4a;
}



.postform button {
background-color: #009fdd;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
width: 100%;
}

/* admin css stops here */
.article-container {
max-width: 80rem;
margin: auto;
}

.backbtn-box {
display: flex;
justify-content: space-between;
padding: 0 1rem;
place-items: center;
}

.imgbox img {
width: 100%;
height: auto;
object-fit: cover;
object-position: center;
}

.authflex {
justify-content: space-between;
margin-bottom: 1rem;
}
.authflex h3 {
font-weight: 300;
margin-left: auto;
display: flex;
place-items: center;
}

.cover_showcase {
display: flex;
place-items: center;
place-content: space-evenly;
}

.cover_showcase img {
width: 200px;
height: 150px;
}

.details_header_title {
padding: 0 1rem;
}

.amenities-grid {
display: grid;
grid-template-columns: repeat(2,1fr);
max-width: 40rem;
line-height: 2;
padding: 0 1rem;
}

.body-content {
line-height: 2;
padding: 0 1rem;
}

.body-content p {
font-size: 1.2rem;
letter-spacing: 1px;
}

.backbtn {
display: inline-block;
padding: 5px 10px;
font-size: 18px;
color: #fff;
background-color: #692ed8;
border: none;
border-radius: 4px;
text-transform: capitalize;
cursor: pointer;
background-size: 200% auto;
margin: auto 0;
}

/* details css stops here  */

footer{
padding: 3px;
background: #6d1ffa;
text-transform: capitalize;
text-align: center;}
      
      
      
      
  
          
.flex-footer{
display: flex;
place-content: center;
border-bottom: solid 1px #fff;
}

.footer-tablebox{
width: 100%;
border-right: solid 1px #fff;
padding-bottom: 10px;
padding-top: 10px;
}
  
  
   
.footer-headline{
color: #fff;
font-size: 24px;
font-weight: 600;
letter-spacing: 2px;
padding: 5px 0;
border-bottom: solid 1px #fff;
}

.footer-navlink{
margin: auto;
padding: 0;
}

.footer-navlink li{
list-style-type: none;
}

.footer-navlink a{
text-decoration: none;
color: #fff;
font-size: 18px;
line-height: 2.5;
cursor: pointer;
}
  
.footer-logo-box{
margin: auto;
}

.footer-logo-box img{
cursor: pointer
} 

.sm-navlink a{
color: #000000
}

.edit-delBlock {
  padding: 1rem 6px;
}

.delete-btn {
  margin-left: 10px;
  border: none;
  background-color: red;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.edit-btn {
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease;
}

@media(max-width:768px){
.flex-footer{
display: flex;
place-content: center;
flex-direction: column;
}
  
.footer-tablebox{
border-right: none;
border-left: none !important;
}
}
@media(max-width:500px){
.foot-navlinks{
display: grid;
grid-template-columns: repeat(4, 1fr);
place-items: center;
}

.footnav img{
height: 34px;
}


}
/* footer css stops here */