
body,html {
margin: 0;
box-sizing: border-box;
background-color: aliceblue;
letter-spacing: 1px;
}

/* header css starts here */

.header{
display: flex;
justify-content: space-between;
padding: 0 1rem;
place-items: center;
}

.header-logo-box img{
cursor: pointer;
}

.contact-box{
font-size: 30px;
color: purple;
}

@media(max-width:768px){
.header{
  flex-direction: column;
  margin: 5px 0;
}
}
  /* header css stops here */

.nav{
display: flex;
place-items: center;
background-color: #6d1ffa;
padding: 1rem;
}

.navlogo{
margin: auto;
cursor: pointer;
}

.navlinks{
list-style: none;
margin: auto;
display: flex;
place-items: center;
}

.navlinks a{
color: #fff;
padding: 1rem;
text-decoration: none;
}

.navlinks button{
background-color: #b53434;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

.sm-name{
padding: 0 5px;
color: #fff;  }

@media(max-width:968px){
.nav{
flex-direction: column;
padding: 0 1rem;
}
  
.navlinks{
display: flex;
flex-wrap: wrap;
margin-bottom: 1rem;
}
        
.nav img{      
margin: auto;
padding: 1rem 0;
}
        
      

    
.navlinks a{
padding: 10px;
margin: auto;
font-size: 13px;
}
    
}

@media(max-width:500px){
.navlinks button{
margin-left: 30px;
}
}
  /* navbar stops here */



footer{
padding: 3px;
background: #6d1ffa;
text-transform: capitalize;
text-align: center;}
      
      
      
      
  
          
.flex-footer{
display: flex;
place-content: center;
border-bottom: solid 1px #fff;
}

.footer-tablebox{
width: 100%;
border-right: solid 1px #fff;
padding-bottom: 10px;
padding-top: 10px;
}
  
  
   
.footer-headline{
color: #fff;
font-size: 24px;
font-weight: 600;
letter-spacing: 2px;
padding: 5px 0;
border-bottom: solid 1px #fff;
}

.footer-navlink{
margin: auto;
padding: 0;
}

.footer-navlink li{
list-style-type: none;
}

.footer-navlink a{
text-decoration: none;
color: #fff;
font-size: 18px;
line-height: 2.5;
cursor: pointer;
}
  
.footer-logo-box{
margin: auto;
}

.footer-logo-box img{
cursor: pointer
} 

.sm-navlink a{
color: #000000
}

@media(max-width:768px){
.flex-footer{
display: flex;
place-content: center;
flex-direction: column;
}
  
.footer-tablebox{
border-right: none;
border-left: none !important;
}
}
@media(max-width:500px){
.foot-navlinks{
display: grid;
grid-template-columns: repeat(4, 1fr);
place-items: center;
}

.footnav img{
height: 34px;
}


}
/* footer css stops here */